{% extends 'layout.html' %}

{% block body %}
	<div>

 		<form action='/delivery/{{prod.id}}' method="POST">
		    <div class="form-group">
		      <label for="delivery">Select Delivery Option (select one):</label>
		      <select class="form-control" id="delivery" name="delivery">
		        <option value="daily"><strong>Daily</strong></option>
		        <option value="biweekly"><strong>Twice a Week</strong></option>
		        <option value="weekly"><strong>Weekly</strong></option>
		        <option value="monthly"><strong>Monthly</strong></option>
		      </select>
            </div>
                <input type="submit" class="btn btn-primary" value="Submit">
        </form>
        
       </div>
       <div clas="container-fluid">
       	<div class="row">
       		<div class="col-md-4"></div>
       		<div class="col-md-4">
       			<a href="/editSubscription/{{session.id}}"><h4>check your subscription</h4></a>
       		</div>
       		<div class="col-md-4"></div>
       		
       	</div>
       	
       </div>



{% endblock %}