{% extends 'layout.html' %}

{% block body %}
	<h1> <small>Hi, {{session.username}}, you can cancel your subscription here</small></h1>
	<hr>
	<table class="table table-striped">
		<tr>
			<th>Product Name</th>
			<th>Delivery Option</th>
			<th></th>
		</tr>
		{% for sub in sub %}
		<tr>
			<td>{{sub.prodnm}}</td>
			<td>{{sub.deliveryOption}}</td>
			<td><a href="/cancelsub/{{session.id}}" class="btn btn-success">Cancel</a></td>
		</tr>
		{% endfor %}
	</table>

{% endblock %}