{% extends 'layout.html' %}

{% block body %}
<style type="text/css">
	img {
		width:100%;
		left: 1%;

	}
	.row {
		padding-top:1%;
	}
	
</style>

<h4>
	Get your healthy diets 
</h4>
<hr>

<div class="container-fluid">
	<div class="row">
		<div class="col-md-4 col-sm-4 col-sx-4">
			<img src="static/images/image1.jpg">
			
		</div>
		<div class="col-md-4 col-sm-4 col-sx-4">
			<img src="static/images/image2.jpg">
			
		</div>
		<div class="col-md-4 col-sm-4 col-sx-4">
			<img src="static/images/image3.jpg">
			
		</div>
		
	</div>
		<div class="row">
		<div class="col-md-4 col-sm-4 col-sx-4">
			<img src="static/images/image4.jpg">
			
		</div>
		<div class="col-md-4 col-sm-4 col-sx-4">
			<img src="static/images/pistachios-3223610_640.jpg">
			
		</div>
		<div class="col-md-4 col-sm-4 col-sx-4">
			<img src="static/images/cheese.jpg">
			
		</div>
		
	</div>
	
</div>


{% endblock %}