
{% extends 'layout.html' %}

{% block body %}
        <div class="row">
        <div class="col-md-4 col-sm-4 col-sx-4"></div>
        <div class="col-md-4 col-sm-4 col-sx-4">
        <form action="/post_user" method="POST">
                <div class="form-group">
                        <label for="uname">Name:</label>
                        <input type="text" class="form-control" id="uname" name="uname" >
                </div>
                <div class="form-group">
                        <label for="phoneNumber">Phone Number:</label>
                        <input type="tel" class="form-control" id="phoneNumber" 
                        name="phoneNumber" >
                </div>
                <div class="form-group">
                  <label for="email">Email:</label>
                  <input type="email" class="form-control" id="email" name="email" >
                </div>
                <div class="form-group">
                  <label for="pwd">Password:</label>
                  <input type="text" class="form-control" id="pwd" name="pwd" >
                </div>
                <div class="form-group">
                        <label for="storedCash">storedCash:</label>
                        <input type="integer" class="form-control" id="storedCash"  name="storedCash" >
                </div>
                
                <input type="submit" class="btn btn-primary" value="Submit">
              </form>
              </div>
              <div class="col-md-4 col-sm-4 col-sx-4"></div>
            </div>



{% endblock %}
