{% extends 'layout.html'%}

{% block body%}
	<h1><small>Welcome {{session.username}}</small></h1>
	<div >
	<hr>
	
		<div >
				 {% for image_name in image_names %}
				 
				 	
				 	<div class="well" style="float: left; width: 33%; ">
				 		<a href="/addproduct/{{image_name.id}}" >{{image_name.productImage}}</a>
					  
					  	
					  	    <a href="/addproduct/{{image_name.id}}">
						      <h2>{{image_name.productname}}</h2>
						    </a>
						    <a href="/addproduct/{{image_name.id}}">
						      <h2>US${{image_name.cost}}</h2>
						    </a>
						    <a href="singleProductView/{{image_name.id}}" class="btn btn-primary success"><h6>Subscribe</h6>
						    	
						    </a>
						    
					  </div>
					  
					
				 


				 {% endfor%}
		
	</div>
{% endblock %}
