{% extends 'layout.html'%}

{% block body%}
<h1><small>Product Details</small></h1>
<hr>
<div class="container" style="float: left; width: 33%;">

	 	<div cass="well">

	 		<a href="singleProductView/{{image_view.id}}"><h2>{{image_view.productImage}}</h2></a>
	 		<a href="singleProductView/{{image_view.id}}"><h2>{{image_view.productname}}</h2></a>
	 		<a href="singleProductView/{{image_view.id}}"><h2>US${{image_view.cost}}</h2></a>


	 		
	 	</div>
	 	<div>
	 		<a href="../../delivery/{{session.id}}" class="btn btn-primary success"><strong>Customize Delivery</strong></a>
	 	</div>
 	</div>
 


{% endblock %}